footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-container{
  background-color: #c1eae2;
  padding: 0.3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
 }

.img-footer{
  max-height: 7rem;
}

