input[type="email"], input[type="password"]{
    width: 400px;
    height: 20px;
    display: block;
    margin-bottom: 20px;
}

input[type="submit"]{
    padding: 7.5px 15px;
    background-color: rgb(32,51,114);
    color: #fff;
    text-transform: uppercase;
}